footer {
    margin: 0;
}
#img {
  width: 100%;
  height: 50vh;
  background-color: pink;
}

#Cards {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.cardBox {
  width: 25vw;
  height: 60vh;
  border-radius: 2vw;
}

/*CARD 1 - EDUCAÇÃO*/
#card1 {
  background-image: url(../img/ianaeducação.png);
  background-position: center;
  background-position-x: -1vw;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#card1 h1 {
  color: #ffffff;
  position: relative;
  font-size: 7vh;
  left: -4vw;
  top: -20vh;
}

#card1 button {
  position: relative;
  top: 24vh;
  width: 20vw;
  height: 8vh;
  font-size: 5vh;
  border: none;
  border-radius: 1vw 1vw 0 0;
  background-color: rgb(18, 88, 18);
  color: #ffffff;
  cursor: pointer;
}

/*Card 2 - Jogos*/
#card2 {
  background-image: url(../img/iajogos.png);
  background-position: center;
  background-position-x: -1vw;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#card2 h1 {
  color: #ffffff;
  position: relative;
  font-size: 7vh;
  left: -7vw;
  top: -20vh;
}

#card2 button {
  position: relative;
  top: 24vh;
  width: 20vw;
  height: 8vh;
  font-size: 5vh;
  border: none;
  border-radius: 1vw 1vw 0 0;
  background-color: rgb(18, 88, 18);
  color: #ffffff;
  cursor: pointer;
}

/*Card 3 - Plus +*/
#card3 {
  background-image: url(../img/roblox.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#card3 h1 {
  color: #ffffff;
  position: relative;
  font-size: 7vh;
  left: -7vw;
  top: -20vh;
}

#card3 button {
  position: relative;
  top: 24vh;
  width: 20vw;
  height: 8vh;
  font-size: 5vh;
  border: none;
  border-radius: 1vw 1vw 0 0;
  background-color: rgb(18, 88, 18);
  color: #ffffff;
  cursor: pointer;
}

/*LAPTOP*/
@media screen and (max-width: 1024px) {
  #card1 h1,
  #card2 h1,
  #card3 h1 {
    font-size: 5vh;
  }
}

/*TABLET*/
@media screen and (max-width: 768px) {
  #card1 h1,
  #card2 h1,
  #card3 h1 {
    font-size: 4vh;
  }
  #card2 {
    background-position-x: -10vw;
  }
  #card1 button,
  #card2 button,
  #card3 button {
    top: 26vh;
    font-size: 4vh;
  }
}

/*MOBILE L*/
@media screen and (max-width: 425px) {
  #Cards {
    flex-direction: column;
    height: 200vh;
    gap: 6vh;
    margin-top: 2vh;
  }

  .cardBox {
      width: 55vw;
      height: 50vh;
  }


  #card1 h1 {
    font-size: 4vh;
    top: -27vw;
    left: -10vw;
  }
  
  #card3 h1 {
    font-size: 4vh;
    top: -27vw;
    left: -16vw;
  }
  
  #card2 h1 {
    font-size: 4vh;
    top: -27vw;
    left: -16vw;
  }

  #card1 button,
  #card2 button,
  #card3 button {
    top: 23vh;
    width: 40vw;
  }
}

/*Mobile S*/
@media screen and (max-width: 320px) {
  #card1 h1 {
    font-size: 4vh;
    top: -17vh;
    left: -7vw;
  }
  
  #card3 h1 {
    font-size: 4vh;
    top: -17vh;
    left: -14vw;
  }
  
  #card2 h1 {
    font-size: 4vh;
    top: -17vh;
    left: -14vw;
  }

  #card1 button,
  #card2 button,
  #card3 button {
    top: 23vh;
    width: 40vw;
    height: 10vh;
    border-radius: 4vw 4vw 0 0;
  }
}