* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e2eaf0;
}

#navBar {
  width: 100%;
  height: 13vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
  border-bottom: 0.3vh solid #000000;
}

/*Primeira parte do menu*/
#Logo {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
}

#imgLogo {
  height: 13vh;
  margin-left: 2.5vw;
}

#temaText {
  font-size: 4vh;
}

/*Segunda parte do menu*/
#menuButtons {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vw;
}

.menuButton {
  width: 7vw;
  height: 5vh;
  background-color: transparent;
  font-size: 2.2vh;
  border: 0.3vh solid #000000;
  color: #000000;
  border-radius: 0 40vw 40vw 40vw;
  transition: 0.2s linear;
}

.menuButton:hover {
  background-color: #3c78a5;
  border-color: #3c78a5;
  cursor: pointer;
  color: white;
}

/*LAPTOP*/
@media screen and (max-width: 1024px) {
  .menuButton {
    width: 9vw;
  }

  #lastMenuButton {
    margin-right: 1vw;
  }
}

/*TABLET*/
@media screen and (max-width: 768px) {
  .menuButton {
    width: 10vw;
    font-size: 2vh;
  }

  #lastMenuButton {
    margin-right: 1vw;
  }

  #menuButtons {
    gap: 1vw;
  }
}

/*Mobile*/
#burger {
  position: fixed;
  top: -100vh;
  visibility: hidden;
}

@media screen and (max-width: 425px) {
  #menuButtons {
    position: fixed;
    top: -100vh;
  }

  #navBar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }

  #burger {
    position: static;
    visibility: visible;
    background-color: transparent;
    height: 8vh;
    width: 20vw;
    margin-right: 5vw;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .bar {
    background-color: #000000;
    width: 15vw;
    height: 0.8vh;
    border-radius: 22vw;
    position: fixed;
  }

  #bar1 {
    top: 4vh;
    transform: rotate(0deg);
  }

  #bar2 {
    top: 6vh;
    width: 15vw;
  }

  #bar3 {
    top: 8vh;
    transform: rotate(0deg);
  }

  /*Animation*/
  @keyframes animationBar1In {
    from {
      transform: rotate(0deg);
      top: 4vh;
    }

    to {
      transform: rotate(45deg);
      top: 5.8vh;
    }
  }

  @keyframes animationBar1Out {
    from {
      transform: rotate(45deg);
      top: 5.8vh;
    }

    to {
      transform: rotate(0deg);
      top: 4vh;
    }
  }

  @keyframes animationBar3In {
    from {
      transform: rotate(0deg);
      top: 8vh
    }

    to {
      transform: rotate(-45deg);
      top: 5.8vh
    }
  }

  @keyframes animationBar3Out {
    from {
      transform: rotate(-45deg);
      top: 5.8vh
    }

    to {
      transform: rotate(0deg);
      top: 8vh
    }
  }

  @keyframes animationBar2In {
    from {
      width: 15vw;
    }

    to {
      width: 0;
    }
  }

  @keyframes animationBar2Out {
    from {
      width: 0;
    }

    to {
      width: 15vw;
    }
  }

  /*Classes de animação*/
  .animationBar2Out {
    animation: animationBar2Out 0.3s linear;
    width: 15vw;
  }

  .animationBar2In {
    animation: animationBar2In 0.3s linear;
    width: 0vw;
  }

  .animationBar3Out {
    animation: animationBar3Out 0.3s linear;
    transform: rotate(0deg);
    top: 8vh
  }

  .animationBar3In {
    animation: animationBar3In 0.3s linear;
    transform: rotate(-45deg);
    top: 5.8vh
  }

  .animationBar1In {
    animation: animationBar1In 0.3s linear;
    transform: rotate(45deg);
    top: 5.8vh;
  }

  .animationBar1Out {
    animation: animationBar1Out 0.3s linear;
    transform: rotate(0deg);
    top: 4vh;
  }
}